# Postgresql
DB_USER=postgres
DB_PASSWORD=qwerty
DB_NAME=support
DB_HOST=postgres-goapp
DB_PORT=5432
DB_SSL_MODE=disable
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSL_MODE}
# task_repo
API_PORT=8808
FILE_LOG_NAME=loginfo.log
JWT_SALT=verysecret
# executioner
EXECUTIONER_PORT=8001
EXECUTIONER_HOST=executioner
SOLUTIONS_FOLDER_PATH=./
CPP_EXTENSION=.cpp
CPP_BUILD_COMMAND=g++ -o
GOLANG_EXTENSION=.go
GOLANG_BUILD_COMMAND=go build -o
# Docker
DOCKER_API_HOST=socat:2375
#Frontend
FRONTEND_PORT=3000
NGINX_PORT=80
