BUILD_CONFIG_PATH=./configs/build_configs.json
SOLUTION_FOLDER_PATH=./
DOCKER_API_HOST=tcp://socat:2375
DOCKER_API_VER=1.40
DOCKER_IMAGE_GOLANG=docker.io/library/golang:1.15.3-alpine3.12
EXECUTIONER_HOST=executioner
EXECUTIONER_PORT=8001
IMPORT_TPL=greenteam
